@import "variables";

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Noto Sans', sans-serif;
  color: $c-font;
}

#map {
  width: 100%;
  height: 100%;
  z-index: $z-bottom;
}

.btn {
  &--icon { padding: 0; font-size: 25px; background: none; border: none; cursor: pointer; color: $c-font; opacity: 0.4;
    &:hover { opacity: 0.8; }
  }
}

.clearer { clear: both; }

#loading-icon { visibility: hidden; margin-left: 50px; color: $c-primary; }