html, body {
    width: 100%;
    height: 100%;
}

#map {
    width: 100%;
    height: 100%;
    z-index: 0;
}

#menu {
    left: 10px;
    top: 10px;
    position: absolute;
    z-index: 2;
    background: white;
}
#menu-top {
    left: 10px;
    top: 10px;
    position: absolute;
    z-index: 1;
    background: white;
    padding-top: 20px;
}

#right-menu {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    min-height: 100%;
    z-index: 1;
    background: white;
}