<!doctype html>
<html>
<head>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <title>Parking tea</title>
  {# Blace CSS #}
{#  <link rel="stylesheet" href="https://unpkg.com/blaze">#}
  <link rel="stylesheet" href="static/bower_components/blaze/dist/blaze.min.css">
  {# jQuery #}
{#  <script src='https://unpkg.com/jquery@3'></script>#}
  <script src='static/bower_components/jquery/dist/jquery.min.js'></script>
  {# Mabbox.js #}
{#  <script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>#}
{#  <link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet'/>#}
  <script src='static/bower_components/mapbox.js/mapbox.js'></script>
  <link href='static/bower_components/mapbox.js/mapbox.css' rel='stylesheet'/>
  {# Toastr #}
{#  <script src='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js'></script>#}
{#  <link href='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css' rel='stylesheet'/>#}
  <script src='static/bower_components/toastr/toastr.min.js'></script>
  <link href='static/bower_components/toastr/toastr.min.css' rel='stylesheet'/>
  {# Font Awesome #}
  <script src="https://use.fontawesome.com/5f81f787a7.js"></script>
  {# Custom #}
  <link rel="stylesheet" href="static/bundle.min.css">
  <script src="static/bundle.min.js"></script>
  <link rel="icon" href="static/img/favicon.png">
</head>
<body>

<div id='map'></div>

<div class="menu">
  <div class="menu-left" id="menu-left">
    <div class="menu-left__content">
      <div class="logo">
        <a href="/">
          <img src="static/img/tea.svg" alt="Cup of tea" class="logo__icon">
          <h1 class="logo__title">Parking tea</h1>
        </a>
      </div>
      <button class="btn--icon menu-left__hide-btn toggle-left-menu">
        <i class="fa fa-angle-double-left" aria-hidden="true"></i>
      </button>

      <div class="c-tabs c-tabs--info">
        <div class="c-tabs__headings">
          <div class="c-tab-heading c-tab-heading--active">Park</div>
          <div class="c-tab-heading">Park & ride</div>
        </div>
        <div class="c-tabs__tab c-tabs__tab--active">
          <div class="o-grid">
            <div class="o-grid__cell">
              <form>
                <fieldset class="o-fieldset">
                  <div class="o-form-element">
                    <label class="c-label" for="filter_area_size">Size of the area for search</label>
                    <input type="number" id="filter_area_size" placeholder="Size in metres" class="c-field"
                           value="500" min="100" max="5000" step="100">
                    <div class="c-hint">Minimum size is 100m.</div>
                  </div>
                  <div class="o-form-element">
                    <label class="c-label" for="filter_min_capacity">Minimal capacity</label>
                    <input type="number" id="filter_min_capacity" placeholder="e.g. 15" class="c-field"
                           value="0" min="0">
                    <div class="c-hint">Leave empty or zero for unlimited.</div>
                  </div>
                  <div class="o-form-element">
                    <label class="c-toggle c-toggle--warning">
                      <input type="checkbox" id="filter_only_free">
                      <div class="c-toggle__track">
                        <div class="c-toggle__handle"></div>
                      </div>
                      Only free parking
                    </label>
                  </div>
                  <div class="o-form-element u-center-block">
                    <button id="apply-filter"
                            class="c-button c-button--info u-center-block__content u-center-block__content--horizontal">
                      Apply filter
                    </button>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
        <div class="c-tabs__tab">
          <div>
            It shows 50 nearest parking
          </div>
          <form>
            <fieldset class="o-fieldset">
              <div class="o-form-element">
                <label class="c-label" for="filter_no_go_area">No parking area size</label>
                <input type="number" id="filter_no_go_area" placeholder="Size in metres" class="c-field"
                       value="1000" min="100" max="10000" step="100">
                <div class="c-hint">Minimum size is 1 km.</div>
              </div>
              <div class="o-form-element u-center-block">
                <button id="park-and-ride"
                        class="c-button c-button--info u-center-block__content u-center-block__content--horizontal">
                  Show park & ride
                </button>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>

    <footer id="credits">
      <span class="c-badge c-tooltip c-tooltip--top" aria-label="Current version of the Parking tea">v1.0.0</span>
      <a href="https://github.com/blowfishtea/assignment-gis" target="_blank" class="c-text c-text-warning">Sources</a>
    </footer>
  </div>

  <div class="menu-icon u-center-block">
    <button class="btn--icon u-center-block__content toggle-left-menu">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </button>
    <i id="loading-icon" class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
  </div>
</div>

</body>
</html>