SELECT
  pol.name,
  pol.tags,
  pol.way_area AS area,
  ST_AsGeoJSON(ST_Transform(ST_Centroid(pol.way), 4326)),
  ST_Distance(
      ST_GeogFromText('POINT({{ longitude }} {{ latitude }})'),
	    ST_Transform(pol.way, 4326)::geography) AS distance
FROM osm_polygon pol
WHERE amenity = 'parking'
      AND {{ area_size }} > ST_Distance(
          ST_GeogFromText('POINT({{ longitude }} {{ latitude }})'),
          ST_Transform(pol.way, 4326)::geography)
      {% if fee %}
      AND pol.tags->'fee' = 'no'
      {% endif %}
      {% if capacity %}
      AND trunc(pol.way_area / 15) >= {{ capacity }}
      {% endif %}

{% if not capacity %}
UNION ALL

SELECT
  p.name,
  p.tags,
  0 AS area,
  ST_AsGeoJSON(ST_Transform(p.way, 4326)),
  ST_Distance(
      ST_GeogFromText('POINT({{ longitude }} {{ latitude }})'),
	    ST_Transform(p.way, 4326)::geography) AS distance
FROM osm_point p
WHERE amenity = 'parking'
      AND {{ area_size }} > ST_Distance(
          ST_GeogFromText('POINT({{ longitude }} {{ latitude }})'),
	        ST_Transform(p.way, 4326)::geography)
      {% if fee %}
      AND p.tags->'fee' = 'no'
      {% endif %}
{% endif %}
ORDER BY distance